    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

 <!-- Bootstrap Core CSS -->
    <link href="/assets/sb-admin/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
    <link href="/assets/sb-admin/css/sb-admin-2.css" rel="stylesheet">

<!-- toasterp Core CSS -->
    <link href="/assets/lib/toaster.min.css" rel="stylesheet" />

<!-- moment Core CSS -->
    <link href="/assets/lib/angular-moment-picker.min.css" rel="stylesheet" />

<!-- MetisMenu CSS -->
    <link href="/assets/sb-admin/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

<!-- Timeline CSS 
    <link href="/assets/sb-admin/css/plugins/timeline.css" rel="stylesheet">
-->

<!-- Morris Charts CSS 
    <link href="/assets/sb-admin/css/plugins/morris.css" rel="stylesheet">
-->

<!-- Custom Fonts -->
    <link href="/assets/sb-admin/css/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/sb-admin/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/sb-admin/js/bootstrap.min.js"></script>

    <script src="/assets/lib/js/angular.min.js"></script>
    <script src="/assets/lib/js/angular-animate.min.js" ></script>
    <script src="/assets/lib/js/toaster.min.js"></script>
    <script src="/assets/lib/js/moment-with-locales.js"></script>
    <script src="/assets/lib/js/angular-moment-picker.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/assets/sb-admin/js/metisMenu/metisMenu.min.js"></script>
    

    <!-- Morris Charts JavaScript 
    <script src="/assets/sb-admin/js/raphael/raphael.min.js"></script>
    <script src="/assets/sb-admin/js/morris/morris.min.js"></script>
    -->
    
    <!-- Custom Theme JavaScript -->
    <script src="/assets/sb-admin/js/sb-admin-2.js"></script>

    <script src="/assets/mainApp.js"></script>