<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>מ חודש</th>
      <th>עד לחודש</th>
      <th>שולם בתאריך</th>
      <th>סכום</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="payment in paymentsCollection" ng-click="editPayment(payment)" >
      <td>{{payment._id}}</td>
      <td>{{payment.fromDate | dateFormat }}</td>
      <td>{{payment.toDate | dateFormat }}</td>
      <td>{{payment.createDate | dateFormat}}</td>
      <td>{{payment.amount }}</td>
    </tr>
  </tbody>
</table>